.navbar-nav {
    margin-left: auto;
    margin-right: 100px;
}


.navbar-brand,
.headline,
#textUnderHeadline {
    margin-left: 100px;
}

#textUnderHeadline {
    font-size: 18px;
    color: #E5E7EB;
}

.navbar-brand {
    font-size: 24px;
    color: #F9FAF8;
}

.headline {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}


.section1 {
    height: 400px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}


.section1Text,
.section1Picture {
    color: white;
    font-family: "Times New Roman", Times, serif;
    width: 50%;
    margin-left: 100px;
    padding-left: 150px;
    padding-right: 150px;

}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.section2 {
    height: 400px;
    width: auto;
}

.borders {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: auto 600px;

}

.border1,
.border2,
.border3,
.border4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newBorder1,
.newBorder2,
.newBorder3,
.newBorder4 {
    border-radius: 25px;
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}


.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 600px;
    padding-right: 600px;


}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0px;
}

.author {
    font-size: 26px;
    font-weight: 800;
    font-style: arial;
    color: #1F2937;
    margin: 0;
    text-align: right;
}

.section4 {
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}


.callActionBox {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 1000px;
    height: 150px;
    padding: 10px;
    background-color: #3882F6;
    font-size: 20px;
    color: #E5E7EB;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.texts{
    text-align:center;
    width:60%

}

.signUpCall {
    font-size: 17px;
}



.buttonDiv {
    background-color:green;
}

.secondButton{

}