.navbar-nav{
    margin-left:auto;
    margin-right:100px;
}

.navbar-brand {
    margin-left:100px;
}

#headline, p{
    margin-left:100px;
}



.section1 {
    height:400px;
    background-color: #1F2937;
    display:flex;   
    align-items:center;
}


.section2 {
    height:400px;
    background-color: #23a840;
    display:flex;   
}


.section1Text{
    color:white;
    font-family:"Times New Roman", Times, serif;
    width:50%;
    margin-left:100px;
}

.section1Picture{
    color:white;
    font-family:"Times New Roman", Times, serif;
    width:50%;
    margin-right:100px;
}
